# Pandas - Operações

In [1]:
import pandas as pd

In [2]:
dataframe_1 = pd.read_csv('Pokemon.csv')
dataframe_1.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

### Média

Função mean()

### Mediana

Função median()

### Desvio Padrão

Função std()

### Operações entre colunas

### Adicionando condições às consultas

#### Operadores Condicionais
#### > maior
#### >= maior ou igual
#### < menor
#### <= menor ou igual
#### == igual
#### != diferente

#### Operadores Lógicos
#### & e
#### | ou
#### ~ negação

#### Condição e definindo quais colunas deve exibir

#### Adicionando coluna no dataframe com um valor padrão

#### Adicionando coluna no dataframe a partir de um cálculo usando outra coluna

In [3]:
#### Inserindo linhas ao dataframe a partir de outro

In [4]:
dicionario_1 = {
    '#': [722, 723],
    'Name': ['Nome1','Nome2'],
    'Type 1':['Rock','Psychic'],
    'Type 2':['Poison','Ghost'],
    'Total':[500,300],
    'HP':[60,45],
    'Attack':[66, 42],
    'Defense':[100, 90],
    'Sp. Atk':[150, 144],
    'Sp. Def':[123, 130],
    'Speed':[60, 30],
    'Generation':[1, 2],
    'Legendary':[False, True],
    'Number':[1, 1],
    'Available':[False, False],
    'Price':[33, 21],
}
dataframe_3 = pd.DataFrame(dicionario_1)
dataframe_3

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Number,Available,Price
0,722,Nome1,Rock,Poison,500,60,66,100,150,123,60,1,False,1,False,33
1,723,Nome2,Psychic,Ghost,300,45,42,90,144,130,30,2,True,1,False,21

#### Excluindo linhas inteiras

#### Excluindo linhas que atendem a alguma condição

#### Excluindo colunas